@import './buttons.scss';

@mixin responsive-innerbox($top:0,$bottom:$top,$type:default) {
  position: relative;
  min-height: auto;
  margin: $top auto $bottom;

  @if $type == 'big-type'
  {
    width: 1112px;
    @include desktop(){ 
      margin: $top/2 auto $bottom;
      width: calc(100% - 108px);
    }
    @include tablet{ 
      width: calc(100% - 28px); 
    }
  }@else {
    width: 1048px;
    @include desktop(){ 
      margin: $top/2 auto $bottom;
      width: calc(100% - 172px); // + 64
    }
    @include tablet{ 
      width: calc(100% - 92px); // + 64
    }
  }
}

@mixin infoBox($ellipsis:'not') {
  strong{
    font-weight: 700;
    @include themed() {color: t($black-01);}
    @if $ellipsis == ellipsis{
      @include ellipsis;
    }
  }
  p{
    margin-top: 8px;
    @if $ellipsis == ellipsis{
      @include ellipsis($line: 2,$lineHeight: 1.2em);
    }
  }
}

@mixin clear {
  &:after {
    content: '';
    display: block;
    float: none;
    clear: both;
  }
}

@mixin position($x, $y) {
  position: absolute;
  left: $x;
  top: $y;
  @if $x == 50% and $y == 50% {
    transform: translate(-50%, -50%);
  } @else if $y == 50% {
    transform: translateY(-50%);
  } @else if $x == 50% {
    transform: translateX(-50%);
  }
}
// @mixin title
@mixin vertical($vertical-align:middle) {
  display: inline-block;
  vertical-align: $vertical-align;
}
@mixin pseudoDefault($w, $h) {
  position: absolute;
  content: '';
  width: $w;
  height: $h;
}
@mixin marking($color,$weight,$space:unset) {
  color: $color;
  font-weight: $weight;
  white-space: $space;
}

@mixin flex($item:center, $content:space-between) {
  @each $prefix in -ms-, -webkit-, '' {
    #{$prefix}align-items: $item;
    #{$prefix}justify-content: $content;
  }
  display: flex;
  flex-wrap: wrap;
}

@mixin box($width, $height ,$box:block) {
  display: $box;
  width: $width;
  height: $height;
}
@mixin font($size:13px, $weight : 400) {
  font-size:$size;
  font-weight: $weight;
}

@mixin rounded($radius: 4px) {
  @each $prefix in -moz-, -o-, -webkit-, '' {
    #{$prefix}border-radius: $radius;
  }
}

@mixin transform($property...) {
  @each $prefix in -ms-, -webkit-, -o-, -moz-, '' {
    #{$prefix}transform: $property;
  }
}

@mixin spanIcon($padding:19px) {
  position: relative;  
  padding-left: $padding;
    &::before{
      @include position(0,1px);
    }
}

@mixin opacity($value) {
  @each $prefix in -ms-, -webkit-, -o-, -moz-, '' {
    #{$prefix}opacity: $value;
  }
}
@mixin ellipsis($line: 1, $lineHeight: 1.2em) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
  @if $line > 1 {
    display: -webkit-box;
    -webkit-line-clamp: $line; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    white-space:unset;
  }
  line-height: $lineHeight;
  height: calc(#{$line} * #{$lineHeight});
}

@mixin cardBox() {
  @include rounded(8px);
  @include themed() {
    background: t($bg-white-01-color);
    box-shadow:0px 4px 13px t($box-shadow);
  }
}
@mixin font-set(){
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*반응형 화면 크기*/
$jnd-pc-min-width: 1024px;
$jnd-tablet-min-width: 768px;
$jnd-tablet-max-width: 1023px;

/*반응형, 브라우저 크기가 768이상, 1023px 이하일때  최대 768*/
@mixin tablet{
  @media (max-width: 768px){  
    @content;
  }
}

/*반응형, 브라우저 크기가 1024px 이상일때     최대 1024*/
@mixin desktop{
  @media (max-width: 1024px){
    @content;
  }
}
