/**** common theme default *****/
$default-gray-01: #BCBCBC;
$default-gray-02: #F2F4F8;
$default-gray-03: #DDD;
$default-txt-black-01:#191919; //tooltip
$default-txt-black-02:#A2A2A2; //sub
$default-green-01:#00C473; //잔디 메인
$default-green-02:#00A25F; //hover
$default-red-01:#FF5C48; //하이라이트 01
$default-white-01: #FFF;
$default-blue-01: #438FFF; //하이라이트 02
$default-black-01: #000;

/*
테마 믹스인 사용방법
1. shortcut에 변수 추가
2. light, dark에 변수 값 정의
3. @include themes() 내부 t() 함수 안에 정의한 변수 값 넣어 호출

/**** shortcut *****/
$bg-gray-01-color:'bg-gray-01-color';
$bg-gray-11-color:'bg-gray-11-color';
$bg-gray-02-color:'bg-gray-02-color';
$bg-gray-03-color:'bg-gray-03-color';
$bg-gray-04-color:'bg-gray-04-color';
$bg-green-01-color:'bg-green-01-color';
$bg-white-01-color:'bg-white-01-color';
$bg-white-02-color:'bg-white-02-color';
$txt-black-01:'txt-black-01';
$txt-black-02:'txt-black-02';
$green-01:'green-01';
$green-02:'green-02';
$green-03:'green-03';
$red-01:'red-01';
$white-01:'white-01';
$black-01:'black-01';
$gray-01:'gray-01';
$gray-02:'gray-02';
$gray-03:'gray-03';
$btn-gray:'btn-gray';
$btn-gray-hover:'btn-gray-hover';
$btn-gray-02:'btn-gray-02';
$btn-gray-02-hover:'btn-gray-02-hover';
$btn-gray-03-hover:'btn-gray-03-hover';
$menu-hover:'menu-hover';
$border-gray:'border-gray';
$border-gray-02:'border-gray-02';
$box-shadow:'box-shadow';
$box-shadow-02:'box-shadow-02';
$box-shadow-03:'box-shadow-03';
 
/* theme => light, dark */
$themes:(
  light: (
    bg-gray-01-color: #F2F4F8, 
    bg-gray-11-color: #F2F4F8, 
    bg-gray-02-color: #DDD, 
    bg-gray-03-color: #E0E3E8, 
    bg-gray-04-color: #F7F7F7, 
    bg-green-01-color: #F2FCF8, 
    bg-white-01-color: #FFF, 
    bg-white-02-color: #FFF, 
    txt-black-01:#333, 
    txt-black-02:#A2A2A2, 
    white-01: #FFF,
    black-01: #000,
    gray-01:#C2C2C2,
    gray-02:#DDD,
    gray-03:#A2A2A2,
    btn-gray:#F2F4F8,
    btn-gray-hover:#E0E3E8,
    btn-gray-02:#F2F2F2,
    btn-gray-02-hover :#EAEAEA,
    btn-gray-03-hover :#E8E9ED,
    menu-hover:#F2F4F8,
    border-gray: #E5E5E5,
    border-gray-02: #DDD,
    select-disable-color:#F4F4F4,
    box-shadow:rgba(214, 220, 231, 0.35),
    box-shadow-02:rgb(0 0 0 / 10%),
    box-shadow-03:rgb(0 0 0 / 35%),
  ),
  dark: (
    bg-gray-01-color: #18191A,
    bg-gray-11-color: #212226,
    bg-gray-02-color: #3A3C45,
    bg-gray-03-color: #2C3035, 
    bg-gray-04-color: #222831, 
    bg-green-01-color: #20322E, 
    bg-white-01-color: #212226, 
    bg-white-02-color: #18191A, 
    txt-black-01:#E8E9ED, 
    txt-black-02:#656565, 
    white-01: #212226,
    black-01: #FFF,
    gray-01:#656565,
    gray-02:#3F4448,
    gray-03:#909090,
    btn-gray: #2C3035,
    btn-gray-hover: #3C4147,
    btn-gray-02:#2C2D33,
    btn-gray-02-hover :#393A40,
    btn-gray-03-hover :#30363B,
    menu-hover: #222831,
    border-gray: #3A3C45,
    border-gray-02: #0D0F15,
    select-disable-color:#F4F4F4,
    box-shadow:rgba(0,10,12,0.35),
    box-shadow-02:rgb(0 0 0 / 100%),
    box-shadow-03:rgb(0 0 0 / 100%),
  )
);

// 모든 항목을 반복하여 sass 맵 정의
@mixin themed() {
  @each $theme, $map in $themes {
    @at-root .#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}


