@import 'styles/shared/variables.scss';

$themes: (
  gray:(
    color: $white-01,
    background-color: $gray-02,
  ),
  green: (
    color: $white-01,
    background-color: $green-01,
  ),
  whiteGreen:(
    color: $green-01,
    background-color: $white-01,
    border: $gray-02
  )
);

@function getThemeInfo($keys...) {
  $value: $themes;

  @each $key in $keys {
    $value: map-get($value, $key);
  }

  @return $value;
}


@mixin btn($color, $width: auto,) {
  border: getThemeInfo($color, border);
  padding: 10px 0;// default
  border-radius: 4px;
  font-size: 13px;
  width: $width;
  color: getThemeInfo($color, color);
  background-color: getThemeInfo($color, background-color);
}
@mixin btn_small($color, $width: auto,) {
  border: getThemeInfo($color, border);
  padding: 7px 0;// default
  border-radius: 4px;
  font-size: 13px;
  width: $width;
  color: getThemeInfo($color, color);
  background-color: getThemeInfo($color, background-color);
}

@mixin btn-green($size) {
  @if $size == small{
    @include btn_small(green);
  }
}
//default
.btn{
  padding: 12px 24px;
  // @include rounded(4px);
  border-radius: 4px;
  font-size: 13px;
  //color
  &.green{
    color: $white-01;
    background-color: $green-01;
    &:hover{background-color: $green-03;}
  }
  &.gray{
    color: black-01;
    background-color: $gray-02;
    &:hover{background-color: $gray-03}
  }
  &.whiteGreen{
    color: $green-01;
    background-color: $white-01;
    border: $gray-02;
  }
  //size
  &.small{padding: 7px 12px;}
  &.large{padding: 12px 12px;}
  //type
  &.full{width: 100%;}
}
