// @import 'styles/shared/variables.scss';
// @import 'styles/shared/mixins/common.scss';
// @import 'styles/shared/common.scss';
// @import 'styles/shared/mixins/images.scss';

.jdConnect-wrap{
    width: 100%;
    height: 100%;
}
.jdConnect-container{
    display: flex;
    width: 100%;
    height: calc(100% - 56px);
    background: aquamarine;
}