/*menu*/
.menu-wrap{
    position: relative;
    width: 18vw;
    padding: 0 12px;
    @include themed() {
        border-right: 1px solid t($border-gray-02);
        background-color: t($bg-white-01-color);
    }
    ul{
        li{
            position: relative;
            &:first-child{
                padding-bottom: 10px;
                margin: 12px 0;
                @include themed() {border-bottom: 1px solid t($border-gray);}
            }
            a{
                display: inline-block;
                width: 100%;
                height: 100%;
                padding: 11px 15px 11px 40px;
                @include themed() {color: t($black-01);}
                &:hover{
                    @include themed() {background-color: t($btn-gray-hover);}
                    @include rounded;
                }
            }
            &.on a{
                @include themed() {background-color: t($bg-green-01-color);}
                color: $light-green-01; 
            }
        }
        li a:before {
            @include position(15px,7px);
            @include font-set;
            font-size: 20px;
        }
        li.main a:before {content: "\e99a";top: 10px;font-size: 15px;}
        li.my a:before {content: "\e937";}
        li.admin a:before {content: "\e973";}
    }
}
.tablet-menu{
    display: none;
}
.notice-box{
    position: absolute;
    bottom: 0;
    width: calc(100% - 24px);
    padding: 20px 10px 35px;
    text-align: center;
    @include themed() {border-top: 1px solid t($border-gray);}
    p{
        padding-bottom: 18px;
        @include themed() {
            color: t($txt-black-02);
        }
    }
    button{
        @include btn(medium,green,100%);
    }
}
/*header*/
.header{
    position: relative;
    display: flex;
    padding: 17px 0;
    font-size: 14px;
    z-index: 9;
    font-weight: 100;
    @include themed() {
        color: t($black-01);
        background-color: t($bg-white-01-color);
        box-shadow:0px 4px 13px t($box-shadow);
    }
}
.connect-container{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px 47px;
    @include themed() {background-color: t($bg-gray-01-color);}
}




/* 768 */
@media all and (min-width: $jnd-pc-min-width) {
    .tablet-menu{
        display: none;
    }
  }
  
/* 768 */
@media all and (max-width: $jnd-tablet-min-width) {
    .tablet-menu{
        display: block;
    }
    .menu-wrap{
        display: none;
    }
  }
  