
.connect-card-banner{
    position: relative;
    margin-bottom: 40px;
    padding: 18px;
    @include rounded(6px);
    @include themed() {background: t($bg-white-01-color);}
    .txt-wrap{
        display: inline-block;
        p{
            padding-bottom: 10px;
            @include themed() {color: t($txt-black-01);}
        }
        span{
            font-size: 13px;
            @include themed() {color: t($gray-01);}
        }
    }
    button{
        position: absolute;
        right: 18px;
        @include btn(medium,green);
    }
}
.connect-card-wrap{
    @include flex(stretch, start);
    flex-wrap: wrap;
    &.type_list {
        .connect-card{
            padding-top: 0;
            .inner{
                padding: 22px;
            }
            button {
                @include btn(small,gray);
                position: absolute;
                top: 22px;
                right: 22px;
              }
        }
    }
    &.type_list_new {
        .inner{
            padding: 18px 16px;
        }
        .img-box{
            position: relative;
            padding: 30px 0;
            padding-top: 34%;
            text-align: center;
            background: #333;
            border-radius: 8px 8px 0 0;
            &.asana{background: #F06A6A;}
            img{
                @include position(50%,50%)
            }
        }
        button{
            margin-top: 16px;
            font-size: 13px;
            @include btn(medium,gray,100%);
          }
    }
    .connect-card{
        // &:nth-child(5n-5){margin-right:0}
        // &:nth-child(-n+5){margin-top: 0;}
        position: relative;
        width: calc(20% - 14px);
        min-width: 270px;
        margin: 7px;
        min-height: 164px;
       @include cardBox;
        @include themed() {
            background-color: t($bg-white-01-color);
        }
        strong{
            display: block;
            margin: 10px 0 7px;
            font-weight: 700;
            @include themed() {color: t($black-01);}
            @include ellipsis;
        }
        p{
            color: $light-txt-black-02;
            font-size: 13px;
            line-height: 1.2;
            @include ellipsis($line: 2,$lineHeight: 1.2em);
        }        
        .img{
            width: 54px;
            height: 54px;
        }
    }
}




@media all and (max-width: $jnd-tablet-min-width) {

    .connect-card-wrap .connect-card{
        width: calc(50% - 14px);
    }

  }
  