.connect-card-banner{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
    padding: 18px;
    @include rounded(6px);
    @include themed() {background: t($bg-white-01-color);}
    @include tablet{
      padding-bottom: 70px;
    }
    .bg-type.icon-ic-plug{
        @include box(46px,46px,inline-block);
        margin-right: 20px;
        line-height: 53px;
        font-size: 26px;
        text-align: center;
        background:$default-green-01;
        @include themed() {color: t($white-01);}
        @include rounded(50%);
    }
    .txt-wrap{
        display: inline-block;
        @include infoBox;
        strong{@include themed() {color: t($txt-black-01)}}
        p{
            font-size: 13px;
            @include themed() {color: t($gray-01)}
        }
    }
    button{
        position: absolute;
        right: 18px;
        @include btn(medium,green);
        @include tablet{
            left: 85px;
            right: auto;
            bottom: 20px;
         }
    }
}
.connect-card-wrap{
    @include flex(stretch, start);
    & ~ .title-wrap{margin-top: 40px;}
    &.type_list {
        .connect-card{
            padding-top: 0;
            .inner{padding: 22px}
            button {
                @include btn(small,gray);
                position: absolute;
                top: 22px;
                right: 22px;
              }
            }
        }
    &.type_list_new {
        .inner{ padding: 18px 16px }
        .img-box{
            position: relative;
            padding: 30px 0;
            padding-top: 34%;
            text-align: center;
            background: #333;
            @include rounded(8px 8px 0 0);
            &.asana{background: #F06A6A;}
            img{
                @include position(50%,50%);
                width: auto;
                height: 65%;
            }
        }
        button{
            margin-top: 16px;
            font-size: 13px;
            @include btn(medium,gray,100%);
          }
    }
    .connect-card{
        position: relative;
        width: calc(20% - 14px);
        min-width: 270px;
        min-height: 164px;
        margin: 7px;
        @include cardBox;
        @include themed() { background-color: t($bg-white-01-color)}
        @include infoBox(ellipsis);
        strong{
            display: block;
            margin-top: 10px;
            @include ellipsis;
        }
        p{
            color: $default-txt-black-02;
            font-size: 13px;
        }        
        .img{
            @include box(54px,54px);
        }
        @include tablet{ width: calc(50% - 14px); }
    }
}
