 /*커넥트 서브 페이지 - 공통,테이블 */
.connect-container{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 81px 47px 30px calc(18vw + 47px);
  @include themed() {background-color: t($bg-gray-01-color);}
  @include desktop{
      width: calc(100% - 56px);
      padding: 81px 47px 30px;
      margin-left: 56px;
  }
  .connect-table-wrap{
    @include cardBox;
  }
 }
.connect-table-wrap{
    table{
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
        font-size: 13px;
        thead th{
          padding :16px 18px 11px 0;
          font-size: 12px;
          text-align: left;
          @include themed() {
            color: t($gray-01); 
            background: t($bg-gray-04-color);}
          }
        tbody th,td{
          padding: 11px 18px 9px 0;
          font-weight: 700;
          vertical-align: middle;
          @include ellipsis;
        }
        tr{
          @include themed() {
            border-bottom: 1px solid t($border-gray);
            color: t($txt-black-01);}
            &.disabled{ 
              @include opacity(0.35);
              .btn-wrap.tablet .btn-more,.btn-icon{
                pointer-events: none;
              }
            }
          }
          thead tr th:first-child,
          tbody tr td:first-child{
            padding-left: 33px;
            @include tablet{padding-left: 20px;}
        }
        thead tr th:last-child,
        tbody tr td:last-child{
            padding-right: 33px;
        }
        tbody tr:last-child{
            border-bottom: none;
        }
        span{ vertical-align: middle;}
        .img-box{
            position: relative;
            @include box(26px,26px,inline-block);
            margin-right: 13px;
            @include themed() {border: 1px solid t($border-gray-02);}
            @include rounded(50%);
        }
    }
    .table_botttom{
      padding: 20px;
      @include themed() {border-top: 1px solid t($border-gray-02);}
      button{
        @include btn(large,gray,100%);
        @include themed() {background-color: t($btn-gray-02);}
        color:$default-txt-black-02;
        &:hover{
          @include themed() {background-color: t($btn-gray-02-hover);}
        }
        .icon-ic-b-arrow-down{
          padding-left: 8px;
          color: $default-txt-black-02;
          font-size: 12px;
        }
      }
    }
    ~ .connect-table-wrap{
      margin-top: 14px;
    }
    .status-wrap{
      .btn-wrap{
        display: inline-block;
        &.tablet{
          position: relative;
          display: none;
          .btn-more{ 
            padding: 4px;
            font-size: 18px;
            @include rounded(2px);
            @include themed(){color:t($txt-black-01)}
            &:hover{
              @include themed() { background-color: t($btn-gray-02)}
            }
          }
          .tooltip-box{
            @include box(130px,70px,none);
            position: absolute;
            top: 8px;
            right: 5px;
            z-index: 9;
            @include cardBox;
            @include themed() {border:1px solid t($border-gray-02);}
            div{ position: relative;}
            .btn-icon{
              @include box(100%,100%);
              padding: 6px 0 7px 13px;
              text-align: left;
              @include font(13px,400);
              @include themed() {color:t($txt-black-01);}
              & + .btn-icon{
                margin-left: 0px;
                color: $default-red-01;
              }
              &:hover{
                @include themed() {background-color: t($btn-gray-02);}
              }
            }
            &.on{display: block;}
          }
        }
        @include desktop{
          &.pc{display: none!important;}
          &.tablet{display: inline-block!important;}
        }
      }
    }
  }
.btn-icon{
  @include box(26px,26px,inline-block);
  font-size: 17px;
  border-radius: 2px;
  &+.btn-icon{margin-left: 10px}
  i{
    display: inline-block;
    padding: 4px;
  }
  .icon-ic-edit{
    @include themed() {color:t($txt-black-01);}
    &:hover{
      @include themed() {background:t($btn-gray-02);}
    }
  }
  .icon-ic-delete{color:rgb(255, 92, 72);
    &:hover{
      background: rgba(255, 92, 72, 0.08);
    }
  }
}
/*공통*/
.connect-info-box{
  @include flex(center,flex-start);
    position: relative;
    width: 100%;
    margin: 7px;
    padding: 0 16px;
    min-height:108px ;
    .img-box{
        @include box(52px,52px,inline-block);
        margin-right: 12px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .info{
        display: flex;
        flex-direction: column;
        align-content: normal;
        width: calc(100% - 180px);
        padding: 15px 0 0 0;
        @include infoBox(ellipsis);
        @include themed() {color: t($black-01);}
        .info-tit{
            display: block;
            font-weight: 700;
            @include ellipsis;
          }
        p{
            font-size: 12px;
            @include themed() {color: t($txt-black-02);}
        }
    }
    .connect-etc-box{
      position: absolute;
      width: 120px;
      height: 100%;
      right: 0;
      .icon-ic-plug{padding-right: 3px;}
      &>span{
        position: absolute;
        top: 15px;
        right: 20px;
        display: inline-block;
        padding: 6px 10px 4px;
        color: $default-green-01;
        @include themed{background-color: t($bg-gray-01-color);}
        @include rounded(28px);
        white-space: pre;
      }
    }
}

//잔디커넥트 관리자
.connect-admin-wrap{
  @include flex(center,flex-start);
  width: 100%;
  .connect-info-box{
    width: calc(33% - 14px);
    min-width: 390px;
    @include cardBox;
    @include desktop{ width: calc(50% - 14px);min-width: 400px;}
    @include tablet{ width: 100%;min-width: 100%}
    &:hover{
      @include themed{background-color: t($bg-gray-03-color) !important;}
      & .item{
        @include themed{border: 2px solid t($bg-gray-03-color);}
      }
    }
  }
}

//프로필 아이콘
.profile-box{
  position: absolute;
  right: 16px;
  bottom: 16px;
  &:hover .tooltip{ display: block; }
  &:hover .item:before{
    @include pseudoDefault(100%,100%);
    z-index: 9;
    background: #000;
    @include opacity(0.4);
  }
  .item{
    overflow: hidden;
    position: relative;
    @include box(28px,28px,inline-block);
    margin-left: -6px;
    @include rounded(50%);
    @include themed{border: 2px solid t($bg-white-01-color);}
    cursor: pointer;
    img{
      position: absolute;
    }
    &:nth-child(1){z-index:4}
    &:nth-child(2){z-index:3}
    &:nth-child(3){z-index:2}
    &:nth-child(4){z-index:1}
    .etc-profile{
      @include box(26px,26px,inline-block);
      @include themed{background-color: t($btn-gray-02);}
      .icon-ic-more{
        @include position(5px,5px);
        color: $default-txt-black-02;
      }
    }
  }

  // 컴포넌트
  .tooltip{
    display: none;
    @include position(auto,-42px);
    right: 0;
    width: auto;
    padding: 0 8px;
    height: 32px;
    line-height: 32px;
    z-index: 9;
    background: $default-txt-black-01;
    color: $default-white-01;
    white-space: nowrap;
    font-size: 11px;
    @include rounded;
    &::after{
      @include pseudoDefault(14px,14px);
      right: 7px;
      bottom: -5px;
      transform: rotate(45deg);
      background: $default-txt-black-01;
    }
  }
}

// 토글버튼
.switch{
  position: relative;
  @include vertical(top);
  input{display: none;}
  & > .txt{
    line-height: 19px;
    font-weight: 700;
    color: #A2A2A2;
    @include marking(#A2A2A2,700);
  }
  .slider{
    position: relative;
    @include vertical(bottom);
    @include box(40px,21px,inline-block);
    margin: 0 20px 0 8px;
    transition: all .2s;
    @include themed() {background-color: t($bg-gray-02-color);}
    @include rounded(20px);
    &:before{
      content: '';
      @include position(3px,4px);
      @include box(15px,14px,inline-block);
      transition: all .2s;
      @include themed() {background-color: t($white-01);}
      @include rounded(50%);
    }
  }
  &.on{
    .txt{color: $default-green-01;}
    .slider{
      background-color: $default-green-01;
      &:before{
        left: 22px;
      }
    }
  }
}
