html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.none {
  display: none
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* cropper styles custom */
.cropper-point.point-e,
.cropper-point.point-n,
.cropper-point.point-w,
.cropper-point.point-s,
.cropper-point.point-nw,
.cropper-point.point-sw,
.cropper-point.point-se {
  display: none !important;
}
.cropper-line.line-e,
.cropper-line.line-n,
.cropper-line.line-w,
.cropper-line.line-s {
  display: none !important;
}
.cropper-point.point-ne {
  width: 15px;
  height: 15px;
}
.cropper-view-box, .cropper-face {
  border-radius: 50%;
}
/* TODO: 재정의 */
.cropper-point.point-ne {
  right: 10% !important;
  top: 10% !important;
}

/* TODO: 개발 후 삭제 */
.dev-focus {
  box-shadow: 0 0 3px 3px red;
}